<div class="container-fluid header">
    <div class="row header">
      <div class="col-md-2">
        <h1>{{title}}</h1>
      </div>
      <div class="col-md-4">
       <div class="search">Search</div>
      </div>
      <div class="col-md-6 icons">
        <button>Store</button>
        <button>Feature</button>
        <button>About</button>
        <button>News</button>
        <span class="icon-heart"></span>
        <span class="icon-cart"></span>
        <span class="icon-menu3"></span>
      </div>
    </div>
  </div>

