<div class="container-fluid header">
    <div class="row header">
      <div class="col-1 col-md-2">
        <h1>{{title}}</h1>
      </div>
      <div class="col-5 col-md-3">
       <div class="search">Search</div>
      </div>
      <div class="col-6 col-md-7 icons">
        <a href="#article-sale"><button>Artículos más comprados</button></a>
        <a href="#new-arrivals"><button>New Arrivals</button></a>
        <a href="#last-units"><button>Últimas unidades</button></a>
        <a href="#promotional-item"><button>Promociones</button></a>
        <a href="#contact"><button>Contacto</button></a>
        <span class="icon-heart"></span>
        <span class="icon-cart"></span>
        <span class="icon-menu3"></span>
      </div>
    </div>
  </div>

