<div class="footer">
   <div class="row">
       <div id="contact" class="col-12 col-md-6 title-suscripciones">
        <h5>Deseas recibir información de suscripciones</h5>
        <h4>SUSCRIBETE</h4>
        </div>
       <div class="col-8 col-md-3">
        <div class="search">Ingresa tu Email </div>
       </div>
       <div class="col-4 col-md-2 button-suscrib">
        <button type="button" class="btn btn-warning">Suscribir</button>
       </div>
       <div class="col-12 col-md-12 icons">
        <span class="icon-facebook2"></span>
        <span class="icon-instagram"></span>
        <span class="icon-twitter"></span>

       </div>

   </div>
</div>
