<div class="container-fluid promotion">
    <div class="row ">
        <div id="promotional-item" class="col-md-3">
            <h1>Audifonos Beats</h1>
            <div class="description">
                <h5>Especificaciones</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Modelo	Solo 3</li>
                    <li class="list-group-item">Color	Rose Gold</li>
                    <li class="list-group-item">Conectividad	Bluetooth</li>
                    <li class="list-group-item">Auricular	Auriculares over ear</li>
                    <li class="list-group-item">Condiciones de la garantía	1 año por defecto de fabrica</li>
                  </ul>
            </div>
        </div>
        <div class="col-md-5 img-promotion">
            <img src="https://i.postimg.cc/GtDgy9hG/Screen-Shot-2021-12-06-at-2-04-25-PM-removebg-preview.png" alt="">
        </div>
        <div class="col-md-4 product-promotion">
            <h1>12: 08: 17: 12</h1>
            <div>
                <h4>Audifonos Beats</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatum optio debitis sint impedit sapiente architecto eum esse suscipit quod rem vero amet quo, quia, reprehenderit consequatur itaque maxime possimus.</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                  </div>
            </div>
            <button type="button" class="btn btn-outline-primary button-add">¡Lo quiero!</button>
        </div>
    </div>

</div>
