<div class="container-fluid options">
    <div class="row options">
        <div class="col-12 col-md-3">
            <span class="icon-truck"></span>
            <p> Tiempo de despacho</p>
        </div>
        <div class="col-12 col-md-3">
            <span class="icon-spinner11"></span>
            <p>Devoluciones</p> 
        </div>
        <div class="col-12 col-md-3">
            <span class="icon-user-tie"></span>
            <p>Contacta a un ejecutivo comercial</p> 
        </div>
        <div class="col-12 col-md-3">
            <span class="icon-clock"></span>
            <p>Garantia</p>
            
        </div>
    </div>
    
</div>
