.options{
    align-items: center;
    text-align: center;
    background-color: #FDF3FF;
    width: 100%;
    height: 30vh;
}
.options span{
    font-size: 2.5rem;
    color: #C471D3;
}
@media (max-width: 500px){
    .options span{
        font-size: 1.2rem;
    }
   .options{
       height: fit-content;
   }

}