.item-title{
    margin: 5%;
    text-align: center;
}
.img{
    width: 60%;
   
   
}
.items{
    margin-bottom: 6%;
    align-items: center;
    box-shadow: 5px 5px 4px #0b164152;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    
}
.items:hover{
    cursor: pointer;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

}
.description h5 p a{
    align-items: center;
}
.button-add{
    margin-top: 5%;
    color: #4b3863;
    border: 1px solid #4b3863;
    background-color: white;
}
.button-add:hover{
    color:#FDF3FF;
    background-color: #C471D3 ;
}