<div class="item-title">
    <h2>Articulos mas comprados</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.postimg.cc/8P80VdtH/Screen-Shot-2021-12-06-at-1-55-05-PM-removebg-preview.png" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">apple watch</h5>
                    <p class="card-text">Apple Watch series 6 (40mm, GPS) Correa deportiva azul marino</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.postimg.cc/s2rv7LjL/Screen-Shot-2021-12-06-at-11-18-23-PM-removebg-preview.png" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">iPad air</h5>
                    <p class="card-text"> Apple iPad Air 10,9" (Wi-Fi, 256GB) - color oro rosa - 4a Generación.
                        </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.postimg.cc/sfGN8H9x/Screen-Shot-2021-12-06-at-1-51-51-PM-removebg-preview.png" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">iPhone 13 pro</h5>
                    <p class="card-text">Apple iPhone 13 Pro 256GB</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://i.postimg.cc/KvnscKWy/Screen-Shot-2021-12-06-at-1-57-46-PM-removebg-preview.png" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy</h5>
                    <p class="card-text">Smartphone Galaxy S21 128GB</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            
        </div>
        
    </div>
    
</div>

