<div class="item-title">
    <h2>Articulos mas comprados</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col" *ngFor="let product of productsSale">
            <div class="card items" style="width: 18rem;">
                <img src="{{product.img}}" class="card-img-top img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text">{{product.price}}$</p>
                    <div *ngIf="product.promotion">
                        <div class="contcinta">
                            <div class="cintaver"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary button-add">¡Lo quiero!</button>
                </div>
            </div>
            
        </div> 
    </div>
    
    
</div>

