
<div class="container-fluid new-arrivals grid-wapper">
    <div class="title-arrivals">
        <h2>New Arrivals</h2>
    </div>
    <div class="row">
        <div class="col-md-12 big">
            <img src="https://i.postimg.cc/tRWghGqY/i-Phone-13-Pro-removebg-preview.png" alt="">
        </div>
        
        
    </div>
    <div class="row medium">
        <div class="col-md-3">
            <img src="https://i.postimg.cc/8P80VdtH/Screen-Shot-2021-12-06-at-1-55-05-PM-removebg-preview.png" alt="">

        </div>
        <div class="col-md-3">
            <img src="https://i.postimg.cc/s2rv7LjL/Screen-Shot-2021-12-06-at-11-18-23-PM-removebg-preview.png" alt="">
        </div>
        <div class="col-md-3">
            <img src="https://i.postimg.cc/sfGN8H9x/Screen-Shot-2021-12-06-at-1-51-51-PM-removebg-preview.png" alt="">
        </div>
        <div class="col-md-3">
            <img src="https://i.postimg.cc/KvnscKWy/Screen-Shot-2021-12-06-at-1-57-46-PM-removebg-preview.png" alt="">
        </div>

    </div>
</div>
